@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
body{
    height: 100vh;
    background-color: rgb(107, 141, 233);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1-3{
    height: 500px;
    width:350px;
    border: 3px solid rgb(239, 234, 234);
    border-radius: 10px;
    box-shadow: 1px 3px 5px 10px rgba(87, 88, 93, 0.9);
    }

.box2-3{
    height: 70px;
    padding-top: 5px;
}
#u1{
    font-family: "poppins",sans-serif;
    color: #ffffff;
    padding-left: 5px;
    font-size: x-large;
    margin: top 10px; ;
}
.box3-3{
    height: 40px;
    display: flex;
    justify-content: space-around;
}


.box4-3{
    height: 70px;
    padding-top: 5px;
}

#u2{
    font-family: "poppins",sans-serif;
    color: #ffffff;
    padding-left: 5px;
    font-size: x-large;
}
#hobby{
    background: transparent;
    border: 1px solid rgb(62 78 153);
    margin-left: 10px;
    height: 20px;
    width: 305px;
    border-radius: 5px;
   
}

#u3{
    font-family: "poppins",sans-serif;
    color: #ffffff;
    padding-left: 5px;
    font-size: x-large;
}
#docpicker{
    background: transparent;
    border: 1px solid rgb(62 78 153);
    margin-left: 10px;
    height: 20px;
    width: 305px;
    border-radius: 5px;
}

#o1{
    font-family: "poppins",sans-serif;
    color: #ffffff;
     font-size: medium;
   
}

#o2{
    font-family: "poppins",sans-serif;
    color: #ffffff;
     font-size: medium;
   
}

#o3{
    font-family: "poppins",sans-serif;
    color: #ffffff;
     font-size: medium;
   
}


.box6-3{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20PX;
}

#SUBMIT{
    font-family: "poppins",sans-serif;
    color: #ffffff;
    height: 25px;
    width: 80px; 
    padding: 5px;
    font-size: medium;
    text-align: center;
    background: transparent;
    border: 1px solid rgb(62 78 153);
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgb(17, 18, 21);
}
#link{
    text-decoration: none;
}
#SUBMIT:hover{
    background-color: black;
}
